<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Responsive Contact Us Page</title>
    <link rel="stylesheet" href="css/combined.css">
    <link rel="stylesheet" href="css/contact.css">
    <script src="https://kit.fontawesome.com/c5db804bcf.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="footerSection">
        <div class="footerLeft">
            <a href="/login">Login</a>
            <a href="/contact">Contact Us</a>
            <a href="/terms">Terms and Conditions</a>
            <a href="/privacyPolicy">Privacy Policy</a>
        </div>
        <div class="footerRight">
            <p>Subscribe to our newsletter</p>
            <div class="subscribe">
                <input type="email" placeholder="Email">
                <a href="/subscribe">Submit</a>
            </div>
            <div class="socialIcons">
                <div><i class="fa-brands fa-facebook-f fa-xl"></i></div>
                <div><i class="fa-brands fa-twitter fa-xl"></i></div>
                <div><i class="fa-brands fa-instagram fa-xl"></i></div>
            </div>
        </div>
    </div>
    <p class="footerBottom">contact@course.university</p>
</body>

</html>