<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Responsive Contact Us Page</title>
    <link rel="stylesheet" href="css/combined.css">
    <link rel="stylesheet" href="css/contact.css">
    <script src="https://kit.fontawesome.com/c5db804bcf.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <%- include('./partials/navbar.ejs') %>
        <div class="section-header">
            
        </div>
        <div class="sep"></div>
        <%- include('./partials/footer.ejs') %>
    </section>

</body>

</html>