<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/c5db804bcf.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/carousel.css">
</head>

<body>
    <div class="banner">
        <div class="nav">
            <a href="/login" class="loginBtn">LOGIN</a>
            <a href="/register" class="joinBtn">JOIN NOW</a>
        </div>
        <div class="logo">
            <img src="images/cloud.png" alt="logo">
        </div>
        <h1>LEARN MONEY MAKING SKILLS</h1>
        <div class="cards">
            <div class="card">
                <h2>ASK ME ANYTHING</h2>
                <p>20 - second custom video</p>
                <a class="confirmation20Btn" href="/confirmation20">START $20 REQUEST</a>
            </div>
            <div class="card">
                <h2>BOOK 1:1 CALL</h2>
                <p>60 - minutes for $1000</p>
                <a class="confirmationCallBtn" href="/confirmationCall">BOOK CALL</a>
            </div>
        </div>
    </div>
    <div class="carouselSection">
        <h2 class="title"></h2>
        <section id="tranding">
            <!-- <div class="container-head">
                <h3 class="text-center section-subheading">- popular Delivery -</h3>
                <h1 class="text-center section-heading">Tranding food</h1>
            </div> -->
            <div class="container">
                <div class="swiper tranding-slider">
                    <div class="swiper-wrapper">
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/computer.png" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$20</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Special Pizza
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/love.jpg" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$20</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Meat Ball
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/favicon.jpg" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$40</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Burger
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/love.jpg" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$15</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Frish Curry
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/favicon.jpg" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$15</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Pane Cake
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/check.jpg" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$20</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Vanilla cake
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="images/computer.png" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <h1 class="food-price">$8</h1>
                                <div class="tranding-slide-content-bottom">
                                    <h2 class="food-name">
                                        Straw Cake
                                    </h2>
                                    <h3 class="food-rating">
                                        <span>4.5</span>
                                        <div class="rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Slide-end -->
                    </div>

                    <div class="tranding-slider-control">
                        <div class="swiper-button-prev slider-arrow">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>
                        <div class="swiper-button-next slider-arrow">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>
        </section>


    </div>

    <div class="section">
        <div class="sep"></div>
        <h2 class="title">SKILLS YOU WILL LEARN</h2>
        <div class="skillsContainer">
            <div class="skill">
                <img src="images/computer.png" alt="">
                <p> FREELANCING</p>
            </div>
            <div class="skill">
                <img src="images/love.jpg" alt="">
                <p> E - COMMERCE</p>
            </div>
            <div class="skill">
                <img src="images/mountain.png" alt="">
                <p> TRADING & INVESTING</p>
            </div>
            <div class="skill">
                <img src="images/bannerImg.jpeg" alt="">
                <p> CRYPTO & NFTs </p>
            </div>
            <div class="skill">
                <img src="images/computer.png" alt="">
                <p> FREELANCING</p>
            </div>
            <div class="skill">
                <img src="images/computer.png" alt="">
                <p> FREELANCING</p>
            </div>
        </div>
    </div>
    <div class="sep"></div>
    <div class="section">
        <h2 class="title">WHICH ONE WOULD YOU CHOOSE?</h2>
        <div class="choiceContainer">
            <div class="choiceCard crossCard">
                <div class="bg">
                    <img src="images/favicon.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Go Watch Netflix</h3>
                    <a href="#">NETFLIX.COM</a>
                    <p><span class="cross">X</span><span>shame to bloodline</span></p>
                    <p><span class="cross">X</span><span>type 2 diabetes</span></p>
                    <p><span class="cross">X</span><span>cardiac disease</span></p>
                    <p><span class="cross">X</span><span>depression</span></p>
                    <p><span class="cross">X</span><span>anxiety</span></p>
                    <p><span class="cross">X</span><span>broke</span></p>
                </div>
            </div>
            <div class="choiceCard tickCard">
                <div class="bg">
                    <img src="images/favicon.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Go Watch Netflix</h3>
                    <a href="#">$49.99 PER MONTH</a>
                    <p><img src="images/check.jpg" class="check" alt=""><span>step by step tutorials</span></p>
                    <p><img src="images/check.jpg" class="check" alt=""><span>20+ skills</span></p>
                    <p><img src="images/check.jpg" class="check" alt=""><span>millionaire mentors</span></p>
                    <p><img src="images/check.jpg" class="check" alt=""><span>community chat</span></p>
                    <p><img src="images/check.jpg" class="check" alt=""><span>no experience needed</span></p>
                    <p><img src="images/check.jpg" class="check" alt=""><span>success guarantee</span></p>
                    <a class="joinBtnBlue" href="/join">JOIN NOW</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sep"></div>
    <div class="section">
        <h2 class="title">WHAT DO I GET ACCESS TO?</h2>
        <div class="accessCard">
            <div class="accessContent">
                <h3>step by step money making blueprint</h3>
                <ul>
                    <li>Easy to follow program</li>
                    <li>20+ wealth creation courses</li>
                    <li>$0 to $10k per month</li>
                    <li>No experience required</li>
                </ul>
            </div>
            <div class="accessImg">
                <img src="images/mountain.png" alt="">
            </div>
        </div>
        <div class="accessCard">
            <div class="accessContent">
                <h3>elite private network and community</h3>
                <ul>
                    <li>200,000+ members</li>
                    <li>People from diverse backgrounds</li>
                    <li>Active community</li>
                    <li>Daily interactions</li>
                </ul>
            </div>
            <div class="accessImg">
                <img src="images/cloud.png" alt="">
            </div>
        </div>
    </div>
    <div class="sep"></div>
    <div class="section purchaseSection">
        <div class="purchaseLeft">
            <h1>Get Full Access</h1>
            <h1>$49</h1>
            <p>Cancel Anytime</p>
        </div>
        <div class="purchaseRight">
            <p><img src="images/check.jpg" class="check" alt=""><span>Simple step by step tutorials</span></p>
            <p><img src="images/check.jpg" class="check" alt=""><span>20+ wealth creation method</span></p>
            <p><img src="images/check.jpg" class="check" alt=""><span>Access to millionaire mentors</span></p>
            <p><img src="images/check.jpg" class="check" alt=""><span>Exclusive community</span></p>
            <p><img src="images/check.jpg" class="check" alt=""><span>No experience needed</span></p>
            <p><img src="images/check.jpg" class="check" alt=""><span>$49 discounted price locked forever</span></p>
            <p><img src="images/check.jpg" class="check" alt=""><span>Cancel anytime</span></p>
            <a href="/register">JOIN NOW</a>
        </div>
    </div>
    <div class="sep"></div>
    <div class="section spotSection">
        <div class="spotLeft">
            <img src="images/irrigation.jpg" alt="">
        </div>
        <div class="spotRight">
            <h2>secure your spot for just $49</h2>
            <h3>Our prices will increase to $147 after we reach 200,000 students</h3>
            <p>Everyday thousands of students join. To maintain standards of teaching and preventing overloading
                situation prices will keep on increasing.</p>
            <a href="/register">JOIN NOW</a>
        </div>
    </div>
    <div class="sep"></div>
    <div class="reviewSection">
        <div class="review review1">
            <div class="reviewBy">
                <div class="reviewImg">
                    <img src="images/love.jpg" alt="">
                </div>
                <div class="reviewName">
                    <div>Physics Wallah</div>
                    <div>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                    </div>
                </div>
            </div>
            <p>Lorem review1 ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui unde, consequuntur quia
                iusto rem ex saepe sunt dolore consectetur reiciendis esse tenetur dolor harum.</p>
        </div>
        <div class="review review2">
            <div class="reviewBy">
                <div class="reviewImg">
                    <img src="images/love.jpg" alt="">
                </div>
                <div class="reviewName">
                    <div>Physics Wallah</div>
                    <div>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                    </div>
                </div>
            </div>
            <p>Lorem review2 ipsum dolor sit, amet consectetur adipisicing elit. Ipsam saepe ullam debitis ex a
                exercitationem magnam voluptate alias libero? Atque nihil eligendi culpa delectus itaque nesciunt
                possimus dolorum cumque repudiandae porro. Quo, labore sunt? Odit nobis saepe earum, quasi esse nesciunt
                consequatur ratione possimus quis ex sit officiis, eveniet natus!</p>
        </div>
        <div class="review review3">
            <div class="reviewBy">
                <div class="reviewImg">
                    <img src="images/love.jpg" alt="">
                </div>
                <div class="reviewName">
                    <div>Physics Wallah</div>
                    <div>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                    </div>
                </div>
            </div>
            <p>Lorem review3 ipsum dolor sit, amet consectetur adipisicing elit. Ipsam saepe ullam debitis ex a
                exercitationem magnam voluptate alias libero? Atque nihil eligendi culpa delectus itaque nesciunt
                possimus dolorum cumque repudiandae porro. Quo, labore sunt? Odit nobis saepe earum, quasi esse nesciunt
                consequatur ratione possimus quis ex sit officiis, eveniet natus!</p>
        </div>
        <div class="review review4">
            <div class="reviewBy">
                <div class="reviewImg">
                    <img src="images/love.jpg" alt="">
                </div>
                <div class="reviewName">
                    <div>Physics Wallah</div>
                    <div>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                    </div>
                </div>
            </div>
            <p>Lorem review4 ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui unde, consequuntur quia
                iusto rem ex saepe sunt dolore consectetur reiciendis esse tenetur dolor harum.</p>
        </div>
        <div class="review review5">
            <div class="reviewBy">
                <div class="reviewImg">
                    <img src="images/love.jpg" alt="">
                </div>
                <div class="reviewName">
                    <div>Physics Wallah</div>
                    <div>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                        <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                    </div>
                </div>
            </div>
            <p>Lorem review5 ipsum dolor sit, amet consectetur adipisicing elit. Ipsam saepe ullam debitis ex a
                exercitationem magnam voluptate alias libero? Atque nihil eligendi culpa delectus itaque nesciunt
                possimus dolorum cumque repudiandae porro. Quo, labore sunt? Odit nobis saepe earum, quasi esse nesciunt
                consequatur ratione possimus quis ex sit officiis, eveniet natus!</p>
        </div>
    </div>
    <div class="sep"></div>
    <div class="section footerSection">
        <div class="footerLeft">
            <a href="/login">Login</a>
            <a href="/contact">Contact Us</a>
            <a href="/terms">Terms and Conditions</a>
            <a href="/privacyPolicy">Privacy Policy</a>
        </div>
        <div class="footerRight">
            <p>Subscribe to our newsletter</p>
            <div class="subscribe">
                <input type="email" placeholder="Email">
                <a href="/subscribe">Submit</a>
            </div>
            <div class="socialIcons">
                <div><i class="fa-brands fa-facebook-f fa-xl"></i></div>
                <div><i class="fa-brands fa-twitter fa-xl"></i></div>
                <div><i class="fa-brands fa-instagram fa-xl"></i></div>
            </div>
        </div>
    </div>
    <p class="footerBottom">contact@course.university</p>

    <!-- Javascript -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        var TrandingSlider = new Swiper('.tranding-slider', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            loop: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 2.5,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
</body>

</html>