<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Responsive Contact Us Page</title>
    <link rel="stylesheet" href="css/combined.css">
    <link rel="stylesheet" href="css/contact.css">
    <script src="https://kit.fontawesome.com/c5db804bcf.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <%- include('./partials/navbar.ejs') %>
        <div class="section-header">
            <div class="container">
                <h2>Terms and Conditions</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, rerum alias eaque enim quo totam
                    quod tempora architecto atque consequatur, modi aliquam pariatur officia earum! Nostrum, earum id
                    repudiandae animi consectetur laudantium obcaecati odit autem quisquam dignissimos cupiditate et,
                    doloribus fuga voluptatibus perferendis libero expedita optio nisi nobis. Aut dolorum incidunt ea
                    earum expedita, ad voluptates? Quae doloribus tempora quos? Quod debitis sequi cumque libero enim.
                    Cumque cum ea consectetur ut esse repudiandae sapiente repellendus, architecto minima tempore
                    aliquam incidunt ipsam pariatur illo temporibus facere consequuntur at laborum unde? Cum animi quas
                    porro natus corporis debitis ex iste, reiciendis exercitationem voluptatem! Animi officiis,
                    obcaecati saepe odit perferendis quasi vitae fuga illo tempora debitis quam ut sunt praesentium
                    nostrum enim? Accusantium possimus quibusdam, mollitia modi perspiciatis officia assumenda corporis
                    molestiae id ipsam eos deserunt quam fugiat! Officiis pariatur ducimus aliquid autem velit facilis
                    voluptate inventore temporibus eius obcaecati praesentium dolores error, quos recusandae doloribus
                    incidunt! Cumque omnis rem aliquam deserunt aspernatur? Consequatur dolorum ipsam commodi magni
                    maxime modi voluptates et quos doloremque voluptatem consequuntur qui architecto accusamus, quam,
                    quas eveniet saepe ad tempore. Similique repellat nesciunt fugit fuga modi quia minima, tempora
                    inventore repellendus possimus quis recusandae, placeat voluptas est, tenetur voluptatibus
                    voluptatem natus voluptates corporis nihil nostrum? Consequatur earum repellendus numquam et
                    delectus minus nam dolorem pariatur quo optio assumenda fugiat harum enim, similique inventore
                    voluptas laudantium suscipit provident sunt! Perferendis sequi iste atque dignissimos, rerum
                    corporis asperiores nobis ab corrupti non dolore, ipsum quia unde, nemo autem maiores deleniti
                    sapiente id voluptatibus consequatur molestias! Nostrum doloribus ipsum a, animi veritatis dolorum
                    sequi necessitatibus in eaque ullam fugit cupiditate possimus provident sunt ipsa. Sed natus alias
                    quasi libero reiciendis, nobis voluptatum tempora expedita laudantium vero laborum fugiat. Quo
                    placeat vitae maxime natus, nisi sint quae. Eum maiores nostrum, perspiciatis voluptate vel
                    architecto nam, est voluptatem, excepturi officia qui hic pariatur? Voluptatem assumenda ullam
                    voluptas maiores ea maxime sapiente ipsum necessitatibus aperiam vero temporibus sit at, eligendi
                    inventore optio quas est harum quaerat placeat qui quidem! Quasi atque odit reprehenderit repellat
                    at ab dolores, ea recusandae esse commodi sequi inventore, delectus assumenda facere! Nobis ab
                    possimus, beatae perspiciatis ducimus excepturi? Eveniet soluta quo sequi tempora doloremque sit
                    quod ex suscipit, ratione, esse tenetur, veniam deserunt. Saepe autem laudantium aperiam soluta ut
                    quo suscipit eaque nostrum enim. Explicabo numquam aliquam, debitis quos fugit neque corporis, ipsa
                    veniam consectetur quidem obcaecati harum quibusdam.
                </p>
            </div>
        </div>
        <div class="sep"></div>
        <%- include('./partials/footer.ejs') %>
    </section>

</body>

</html>